html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.container{
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;  
}

.header{
    background-color: #1F2937;
    min-height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 150px;
}

.header-list{
    display: flex;
    gap: 15px;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.header-title{
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 15px;
}

.header-text{
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.header-btn{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
}


.header__bottom{
    display: flex;
    gap: 40px;
}

.information__section{
    min-height: 60vh;
}

.main__title{
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.main__wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 60px;
}

.main__img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.quote__section{
    background-color: #E5E7EB;
}

.quote__block{
    margin: 0;
}

.quote__text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote__author{
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
    font-style: normal;
    align-self: end;
}

.quote__text{
    margin: 0;
}

.quote__wrapper{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.call__wrapper{
    background-color: #3882F6;
    min-height: 20vh;
    width: 100%;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call__wrapper-flex{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.call__title{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.call__text{
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.call__btn{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
    border: 3px solid #E5E7EB;
}